<div class="buttons">
  <button mat-raised-button (click)="categorySelector(true)" [ngClass]="stateCat? 'activeOne':''">Basic I</button>
  <button mat-raised-button (click)="categorySelector(false)" [ngClass]="stateCat? '':'activeOne'">Basic II</button>
</div>

<div class="container" *ngIf="stateCat">

  <div id="card" #containerA [hidden]="keyA">
    <mat-card class="example-card">
      <mat-card-header id="style">
        <mat-icon>favorite</mat-icon>
      </mat-card-header>
      <mat-card-content>
        <p>This card indeterminates progress bar.</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button (click)="showCard('A')" >Eliminar div</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div id="card" #containerA [hidden]="keyB">
    <mat-card class="example-card">
      <mat-card-header id="style">
        <mat-icon>favorite</mat-icon>
      </mat-card-header>
      <mat-card-content>
        <p>This card indeterminates progress bar.</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button (click)="showCard('B')" >Eliminar div</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div id="card" #containerA [hidden]="keyC">
    <mat-card class="example-card">
      <mat-card-header id="style">
        <mat-icon>favorite</mat-icon>
      </mat-card-header>
      <mat-card-content>
        <p>This card indeterminates progress bar.</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button (click)="showCard('C')" >Eliminar div</button>
      </mat-card-actions>
    </mat-card>
  </div>

</div>



<div class="containerTwo" *ngIf="stateCat==false">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
  </mat-card>

</div>