<mat-toolbar id="toolbar" class="space" color="primary">

    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>

    <div id="buttons" class="example-button-row">
        <ul id="buttons">
            <li><button mat-raised-button color="warn">Home</button></li>
            <li><button mat-raised-button color="warn">Plataform</button></li>
            <li><button mat-raised-button color="warn">Pages</button></li>
            <li><button mat-raised-button color="warn">Reviews</button></li>
            <li><button mat-raised-button color="warn">Windows</button></li>
            <li><button mat-raised-button color="warn">Videos</button></li>
            <li><button mat-raised-button color="warn">Store</button></li>
        </ul>
    </div>

</mat-toolbar>