<mat-toolbar class="custom-navbar">
    <button mat-icon-button [matMenuTriggerFor]="menu" class="menu-button">
        <mat-icon>more_vert</mat-icon>
      </button>
    <mat-button mat-raised-button routerLink="/">Inicio</mat-button>
    <mat-button mat-raised-button routerLink="/">Noticias</mat-button>
    <mat-button mat-raised-button routerLink="/">Destacado</mat-button>
    <mat-button mat-raised-button routerLink="/">Varios</mat-button>
    <mat-button mat-raised-button routerLink="/">Categorias</mat-button>
    <mat-button mat-raised-button routerLink="/">Busqueda</mat-button>
    <mat-button mat-raised-button routerLink="/">Acerca de</mat-button>
</mat-toolbar>

<mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/">Inicio</button>
    <button mat-menu-item routerLink="/">Noticias</button>
    <button mat-menu-item routerLink="/">Destacado</button>
    <button mat-menu-item routerLink="/">Varios</button>
    <button mat-menu-item routerLink="/">Categorias</button>
    <button mat-menu-item routerLink="/">Busqueda</button>
    <button mat-menu-item routerLink="/">Acerca de</button>
</mat-menu>