<mat-form-field class="example-form-field">
  <mat-label>Filtrar Contenido</mat-label>
  <input [(ngModel)]="searchText" (input)="filterData()" matInput>
  <button *ngIf="searchText" matSuffix mat-icon-button aria-label="Clear" (click)="searchText=''">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>
<!-- 
<mat-form-field class="example-form-field">
  <mat-label>Buscar Contenido</mat-label>
  <input [(ngModel)]="inputText" (input)="searchNews(inputText)" matInput>
  <button *ngIf="inputText" matSuffix mat-icon-button aria-label="Clear" (click)="inputText=''">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>
-->



<div class="backStyle" *ngIf="news">
  <div class="container" *ngIf="stateSearch; else searchContainer">
    <mat-card class="example-card" *ngFor="let myData of news">
      <mat-card-header class="cardTitle">
        <mat-card-title>{{myData.title}}</mat-card-title>
        <mat-card-subtitle>{{myData.author}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src={{myData.urlToImage}}>
      <mat-card-content>
        <p>
          {{myData.description}}
        </p>
      </mat-card-content>
      <mat-card-actions class="buttons">
        <a (click)="openLink(myData.url)" class="my-button">OPEN ON OFFICIAL WEBSITE</a>
      </mat-card-actions>
    </mat-card>
  </div>
  <ng-template #searchContainer>
    <div class="container">
      <mat-card class="example-card" *ngFor="let container of filteredItems">
        <mat-card-header class="cardTitle">
          <mat-card-title>{{container.title}}</mat-card-title>
          <mat-card-subtitle>{{container.author}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src={{container.urlToImage}}>
        <mat-card-content>
          <p>
            {{container.description}}
          </p>
        </mat-card-content>
        <mat-card-actions class="buttons">
          <a (click)="openLink(container.url)" class="my-button">OPEN ON OFFICIAL WEBSITE</a>
        </mat-card-actions>
      </mat-card>
    </div>
  </ng-template>
</div>